h1 {
  color: black;
  margin-top: 10px;
  text-align: center;
}
.container-card-1 {
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 20px 0;
}

.card-1 img {
  width: 80%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.bottom-text {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
.container-card-1 {
  margin: 50px auto;
  max-width: 800px;
}
/*  */
/*  */
/*  */

img {
  max-width: 100%;
  height: auto;
}

.nav {
  flex-wrap: wrap;
}

.container {
  padding-right: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.project-grid-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.project-grid {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

footer ul {
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    font-size: 28px;
  }

  .nav {
    padding: 10px;
  }

  .project-grid {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .nav li a {
    font-size: 14px;
  }

  .container {
    font-size: 22px;
    gap: 5px;
  }

  .cart-item {
    font-size: 18px;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-grid-1 {
    grid-template-columns: 1fr;
  }

  .bg-img {
    min-height: 40vh;
  }
}
